@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Roboto+Condensed:ital@1&display=swap');
    
 body{
  font-family: "Roboto Condensed", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 110vh;
  background-position: center;
  background-color: #2a40b9;
  text-align: center;
}
    

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items:center;
}


.titulo {
    color: whitesmoke;
    font-size: 32px;
    font-family: "Roboto Condensed", sans-serif;
}

.subtitulo{
    color:aqua;
}

#instrucciones{
    color: cyan;
    font-size:x-large;
    font-family: "Roboto Condensed", sans-serif;
}

#las-instrucciones {
    width: 500px;
    height: 70px;
    border-radius: 10px;
    background: transparent;
    border: 3px solid whitesmoke;
    color: whitesmoke;
    font-family: "Roboto Condensed", sans-serif;
    font-size: medium;
    margin-top: 10px;
}

.como-atacar{
    color: #0AC4E0;
    font-family: "Roboto Condensed", sans-serif;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.tarjeta-de-mokepon {
    width: 250px;
    height: 120px;
    background: rgb(161, 241, 241);
    padding: 30px;
    box-sizing: border-box;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(30, 148, 228);
}

.tarjeta-de-mokepon img {
    width: 90px;    
    height: 90px;
}

#boton-mascota {
    width: 300px;
    height: 60px;
    border-radius: 20px;
    background: transparent;
    border: 3px solid whitesmoke;
    color: whitesmoke;
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 30px;

}


input{
   display: none; 
}

input:checked + label {
    background-color: cyan;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    background-color: rgb(161, 241, 241);
     padding: 20px;
    box-sizing: border-box;
    border-radius: 40px;
     border-color: transparent;
    width: 100px;
    color: rgb(30, 148, 228);
    font-family:"Tiny5", sans-serif;
}

#mensajes {
    width: 280px;
    background: #0AC4E0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

#boton-reiniciar{
   border: transparent; 
   color: cyan;
   background-color: #0AC4E0;
   font-family: "Roboto Condensed", sans-serif;
}

.ataques{
    display: grid;
    align-items: end;
    justify-content: center;
    grid-template-columns: 100px 100px;
    gap: 70px;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba(10, 196, 224, 0.7); 
    padding: 15px;
    border-radius: 15px;
    min-width: 120px;

    backdrop-filter: blur(5px); 
    box-shadow: 0 4px 15px rgb(28, 3, 255);
}

#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (max-width: 530px) {
    .tarjetas, .tarjetas-ataques{
        flex-direction: column;
   }
}

